<div id="categories-background"></div>
<div id="categories-panel">
	<div id="categories-panel-top" data-color="<%= market.color %>">
		<div>
			<div class="icon" data-image="<%= market.icon %>">
				<span></span>
			</div>
			<div class="title">
				<span><%= market.name %></span>
				<span>Comprando en <%= market.postalCode %></span>
			</div>
			<div>
				<span>CAMBIAR</span>
			</div>
		</div>
	</div>
	<div id="categories-panel-list">
		<div>
			<ul class="categories"></ul>
		</div>
	</div>
</div>